*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body {
	background-image: url("../img/banner.jpg");
	background-size: cover;
}
a{
	color : inherit;
	text-decoration: none;
}
.medsos {
	padding: 15px 0;
	background-color: #1E3B64;
	size : 22px;
}
.medsos ul li{
	display: inline-block;
	color: #fff;
	margin-right: 10px;
	size: 22px;
}
.container {
	width: 80%;
	margin : 0 auto;
	size : 46px;
	color : #fff;
}
.container:after {
	content: " ";
	display: block;
	clear: both;
}
header h1{
	float: left;
	padding:15px 0;
	color: #fff;
	font-size: 48px;
}
header ul {
	float: right;
}
header ul li {
    display: inline-block;
    font-family: fantasy;
}
header ul li a {
	padding: 20px 20px;
	display: inline-block;
	font-family: fantasy;
	color: #fff;
	font-size: 22px;
}
header ul li a:hover {
	background-color: #1E3B64;
	color: #fff;
}
.isi {
	color : #fff;
	font-size: 12px;
	text-align : center;
	padding: 18px 0;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.8);
}